html,
body {
	min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    background: #2B2B2B;
    color: #fff;
}
a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    padding-left: 0;
    transition: padding-left 300ms ease-in-out 100ms;
}
a:hover {
    color: #fff;
    padding-left: .8rem;
}
::selection {background: #c7c7c7;}
section {padding: 5rem;}   
h1, h2 {
    letter-spacing: .1rem;
    margin: 0;
}
h1 {
    font-size: 1.9rem;
    margin-bottom: 2rem;
}
h2 {
    font-size: 1.1rem;
    margin: 3rem 0 1rem 0;
}
p {
    max-width: 465px;
    font-size: 1.05rem;
    font-weight: 300;
    line-height: 1.4rem;
    letter-spacing: .03rem;
    color: #c7c7c7;
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {padding-bottom: .05rem;}
li a {
    font-size: 1.05rem;
    font-weight: 300;
    letter-spacing: .03rem;
    color: #c7c7c7;
}
div.social {margin-top: 3rem;}
div.social svg {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}
div.social a:hover path {fill: #fff;}

@media(max-width: 628px) {
    section {padding: 3rem;}
    p {max-width: auto;}
    br {display: none;}
}